@font-face {
    font-family: "Font_h1";
    src: url(../fonts/Yuji_Mai/YujiMai-Regular.ttf);

    font-family: "Font_h2";
    src: url(../fonts/Yuji_Syuku/YujiSyuku-Regular.ttf) format("truetype");
}

h1 {
    font-family: Font_h1;
}

h2 {
    font-family: Font_h2;
}

h3 {
    font-family: "Road Rage", cursive;
}