/*FONS DE PANTALLA DEL NIVELL*/
body{
  /*IMATGE DE FONDO*/
  background-image: url("../fons_nivells/nivell1.jpg");

  /*ATRIBUTS DE L'IMATGE DE FONDO*/
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;

  /*ALTURA DE L'IMATGE DE FONDO*/
  height: auto;
}

/*CONTADOR DE PUNTUACIÓ DEL JUGADOR*/
.marcador {
  /*TAMANYS*/
  width: 100px;
  height: 50px;
  
  /*FILTRE*/
  filter: opacity(50%);
  
  /*POSICIONS*/
  position: absolute;
  padding: 5px 5px;

  top: 0;
  right: 0;

  /*MARGES*/
  margin: 0% 0%;

  /*BORDES*/
  background-color: #97a5bb;
  border: 5px solid #b7c5da;
  border-radius: 10px;
}

/*TEXT DELS PUNTS*/
.marcador::before{
  content: "100pts";
}

/*AVIÓ DEL JUGADOR*/
div#avio {
  /*SPRITE DE L'AVIÓ*/
  background-image: url("../sprites/idle_sprite.png");

  /*ATRIBUTS DEL SPRITE*/
  background-size: 200px;
  background-repeat: no-repeat;

  /*TAMANY DELS ELEMENTS*/
  height: 300px;
  width: 300px;
}

/*APARTAT PER SELECCIONAR ELS NIVELLS I LA FINESTRA D'AJUDA*/
footer {
  /*POSICIONS DELS ELEMENTS*/
  position: absolute;
  left: 0;
  bottom: 0;

  /*TAMANYS DELS ELEMENTS*/
  height: 15%;
  width: 100%;

  /*ATRIBUTS DE L'ELEMENT*/
  background-color: #222;
  filter: opacity(75%);
}

/*DIV DEL FOOTER*/
#menu{
  position: fixed;
  display: inline-flex;
}

/*CONTINGUT DEL DIV DEL FOOTER*/
.options{
  background-color: lightblue;
  border-color: transparent;
  color: white;
  border-radius: 50px;
}

/*
* TODO:
* -MOSTRAR BOTTONS PER SELECCIONAR EL NIVELL I L'AJUDA
*/