/*FONS DE PANTALLA DEL NIVELL*/
body{
  background-image: url("../fons_nivells/nivell1.jpg");

  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;

  height: 100%;
}

/*AVIÓ DEL JUGADOR*/
div#avio {
  background-image: url("../sprites/idle_sprite.png");

  background-size: 150px;
  background-repeat: no-repeat;

  height: 100px;
  width: 150px;

  border: 1px solid black;

  right: 20px;
}

/*CONTADOR DE PUNTUACIÓ DEL JUGADOR*/
.marcador {
  width: 100px;
  height: 50px;
  
  filter: opacity(50%);
  
  position: absolute;
  padding: 5px 5px;

  top: 0;
  right: 0;

  margin: 1% 1%;

  background-color: #97a5bb;
  border: 5px solid #b7c5da;
  border-radius: 10px;

  box-shadow: 5px 5px 5px 5px #222;
}

/*TEXT DELS PUNTS*/
.marcador::before{
  content: "100pts";
}

/*APARTAT PER SELECCIONAR ELS NIVELLS I LA FINESTRA D'AJUDA*/
footer {
  position: absolute;
  left: 0;
  bottom: 0;

  height: 15%;
  width: 100%;

  background-color: #222;
  filter: opacity(75%);
}

#menu{
  display: inline;
}

/*CONTINGUT DEL DIV DEL FOOTER*/
#menu p{
  display: inline-block;
  text-align: center;
  background-color: lightblue;
  border-color: transparent;
  text-align: center;
  color: white;
  margin-right: 50px;
  border-radius: 50px;
}

/*Finestra Modal*/

#Ajuda{
  background-color: lightblue;
  padding: 10px;
  color: white;
}

.modalmask {
  position: fixed;
  font-family: Arial, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalmask:target {
  opacity:1;
  pointer-events: auto;
}

.modalbox{
  width: 400px;
  position: relative;
  padding: 5px 20px 13px 20px;
  background: #fff;
  border-radius:3px;
  -webkit-transition: all 500ms ease-in;
  -moz-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
   
}

.rotate {
  margin: 10% auto;
  -webkit-transform: scale(-5,-5);
  transform: scale(-5,-5);
}

.modalmask:target .rotate{     
  transform: rotate(360deg) scale(1,1);
      -webkit-transform: rotate(360deg) scale(1,1);
}

.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: 1px;
  text-align: center;
  top: 1px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  border-radius:3px;
}

.close:hover {
  background: #FAAC58;
  color:#222;
}